<div>
    <input id="edSearch" maxlength="20" data-z-autochange-delay="300" type="text" class="form-control" placeholder="Buscar" style="color: black;">
    <!-- <div class="input-group-append">
        <span class="text-white ml-1">
            <button id="iconSearch" type="button" class="btn btn-sm btn-primary mr-4 pt-2">
                Buscar
                <i class="fa fa-search ml-2"></i>
            </button>
        </span>
    </div>-->
</div> 