<div class='modal fade' tabindex='-1' aria-hidden="true">
        <div class='modal-dialog modal-lg ' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 id="title" class='modal-title mt-0 mb-1'>[Acción] Servicio</h5>
                    <button type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
                </div>
                <hr class="w-100 my-0" />
                <div class='modal-body'>
                    
                    <div id="loading" class="alert alert-success">
                        <span class="tituloCargando">Espere por favor</span>
                        <div class="loader"></div>
                    </div>
    
                    <div id="mensajeError" class="alert alert-danger">
                        <div class="container">
                            <i class="fa fa-exclamation-triangle fa-1x"></i>
                            <b id="lblAccion">&nbsp;</b><span id="textoMensajeError"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="edNombre" class="bmd-label">Nombre</label>
                            <div class="form-group ">
                                <input type="text" class="form-control" id="edNombre" maxlength="100" placeholder="Ingresa un nombre">
                                <div class="invalid-feedback">Debe ingresar el Nombre</div>
                                <small class="bmd-help">Nombre del servicio</small>
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 my-2" />
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="togglebutton">
                                <label style="font-weight: 400 !important; color :#000000 !important;">
                                        <input id="edActivo" type="checkbox" checked="">
                                    <span class="toggle"></span>
                                    Activo
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button id="cmdOk" class='btn btn-success mr-2' type="button">Aceptar</button>
                    <button id="cmdCancel" class='btn btn-default' type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </div>