<div class="row justify-content-center mt-3">
    <div class="card" style="width: 400px;">
        <div class="card-header card-header-primary text-white bg-dark">
            <div class="row align-items-end" style="justify-content: center;">
                <img src="assets/img/sixbell_logo.jpg" height="50px;">
                <h4 class="card-title text-right">Portal Speech Analitichs</h4>
            </div>
        </div>
        <hr>
        <div class="card-body">
            <div id="mensajeError" class="alert alert-danger" style="display: none;"></div>
            <div id="mensajeBuscando" class="alert alert-light" style="display: none;">
                <span class="fa fa-spinner fa-spin fa-2x mr-1"></span>Searching ..
            </div> 
            <div class="input-group mb-2">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                <input id="edLogin" type="email" class="form-control" name="login" placeholder="Email" data-z-autochange-delay="300">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lock"></i></span></div>
                <input id="edPwd" type="password" class="form-control" name="password" placeholder="Contraseña" data-z-autochange-delay="300">
            </div>

            <div class="footer text-center">
                <a id="cmdLogin" class="btn btn-primary btn-link btn-wd btn-lg">Login<div class="ripple-container"></div></a>
            </div>
            <a id="cmdOlvidoPwd">¿Olvido su Contraseña?</a>

        </div>
    </div>
</div>