<div>
    <div class="row mt-4">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 card">
            <form>
                <div class="card-header card-header-primary text-center">
                    <img src="assets/img/sixbell_logo.jpg" height="50px;">
                    <h4 class="card-title">Sistema - Crear Contraseña</h4>
                </div>
                <div class="card-body">
                    <p class="description text-center">Creación de Nueva Contraseña</p>
                    <span class="form-group bmd-form-group is-focused">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input id="edLogin" type="text" class="form-control" readonly="readonly" style="background-color: white;">
                        </div>
                    </span>
                    <span class="bmd-form-group">
                        <div class="input-group mt-4 mb-4">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-unlock-alt"></i>
                            </span>
                            </div>
                            <input id="edPwd1" type="password" class="form-control" placeholder="Escriba su nueva Contraseña" maxlength="50">
                        </div>
                    </span>
                    <span class="bmd-form-group">
                        <div class="input-group mt-4 mb-4">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-unlock-alt"></i>
                            </span>
                            </div>
                            <input id="edPwd2" type="password" class="form-control" placeholder="Repita la nueva Contraseña" maxlength="50">
                        </div>
                    </span>
                </div>
                <div class="footer text-center">
                        <a id="cmdCambiar" class="btn btn-primary btn-link btn-wd btn-lg">Crear<div class="ripple-container"></div></a>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>