<div class='modal fade' tabindex='-1' aria-hidden="true">
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 id="title" class='modal-title mt-0 mb-1'>Cambiar Contraseña</h5>
                <button type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
            </div>
            <hr class="w-100 my-0" />
            <div class='modal-body'>
                <div class="row">
                    <div class="col">                            
                        <label for="edPwd" class="bmd-label">Contraseña Actual</label>
                        <div class="form-group">
                            <input type="password" class="form-control" id="edPwd" maxlength="50" placeholder=""/>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col">
                        <label for="edPwd1" class="bmd-label">Nueva Contraseña</label>
                        <div class="form-group">
                            <input type="password" class="form-control" id="edPwd1" maxlength="50" placeholder=""/>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col">
                        <label for="edPwd2" class="bmd-label">Repita la nueva Contraseña</label>
                        <div class="form-group">
                            <input type="password" class="form-control" id="edPwd2" maxlength="50"  placeholder="" />
                        </div>
                    </div>
                </div>              
            </div>
            <div class='modal-footer'>
                <button id="cmdOk" class='btn btn-success mr-2' type="button">Aceptar</button>
                <button id="cmdCancel" class='btn btn-default' type="button">Cancelar</button>
            </div>
        </div>
    </div>
</div>