<div>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div align="center" class="sidebar-header" >
                <img src="../assets/img/sixbell_logo.jpg" height="50px;">
            </div>
            <div id="divClienteContrato">
                <div class="row"> 
                    <div align="center" class="col-sm-6" >
                        <label for="edClientes" >Clientes</label>
                        <div class="form-group">
                            <select id="edClientes" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                data-z-id-field="idCli" data-z-label-field="nombreCli" data-z-placeholder="[Seleccione Cliente]"
                                data-z-placeholder-enable="true"></select>
                            <div class="invalid-feedback">Debe seleccionar un Cliente</div>
                        </div>
                    </div>
                    <div align="center" class="col-sm-6">
                        <label for="edContratos">Contratos</label>
                        <div class="form-group">
                            <select id="edContratos" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                data-z-id-field="idCon" data-z-label-field="nombreCon" data-z-placeholder="[Seleccione Contrato]"
                                data-z-placeholder-enable="true"></select>
                            <div class="invalid-feedback">Debe seleccionar un Contrato</div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="list-unstyled components" >
                <p id="tituloRep" style='font-weight:bold;'>Reportes</p>

                <div id="edListaMenu">
                </div>

                <p id="tituloAdm" style="font-weight:bold;">Administración</p>
                
                <li id="liAdministracion">
                    <a href="#cmdAdministracion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mantenedores</a>
                    <ul class="collapse list-unstyled" id="cmdAdministracion">
                        <li>
                            <a id="cmdUsuarios">Usuarios</a>
                        </li>
                        <li>
                            <a id="cmdReportes">Reportes</a>
                        </li>
                        <li>
                            <a id="cmdServicios">Servicios</a>
                        </li>
                        <li>
                            <a id="cmdServiciosReportes">Servicios / Reportes</a>
                        </li>
                        <li>
                            <a id="cmdClienteContrato">Cliente-Contrato / Servicio </a>
                        </li> 
                        <li>
                            <a id="cmdHeader">Headers </a>
                        </li>
                        <li>
                            <a id="cmdTabla2">Servicio / Header</a>
                        </li>
                        <li>
                            <a id="cmdTabla3">Mapeo Servicio/Cliente/Contrato</a>
                        </li>  
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" style="background-image : url('');">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-portal ">
                
                <div class="container-fluid">
                    
                    <h2 id="cmdHome" >Portal Speech Analithics</h2>

                    <div style="margin-bottom: 0px !important;">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow icon-user">
                                <a class="nav-link icon-user" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-user-circle fa-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                  <p id="edNombreUsuario" style="font-size: 15px; margin: 10px;"></p>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" id="cmdCambiarPwd">Cambiar Contraseña</a>
                                  <a id="opLogout" class="dropdown-item">Cerrar Sesion</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="mainLoader" data-z-autoload="./Home" data-z-ref-pages="[{&quot;code&quot;:&quot;inicial&quot;,&quot;url&quot;:&quot;common/empty&quot;,&quot;initial&quot;:true},{&quot;code&quot;:&quot;variables&quot;,&quot;url&quot;:&quot;main/configure/variables&quot;,&quot;initial&quot;:false}]"></div>
        </div>
    </div>

</div>
<script>
  $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
</script>



