<div class='modal fade' tabindex='-1' aria-hidden="true">
        <div class='modal-dialog modal-lg ' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 id="title" class='modal-title mt-0 mb-1'>[Acción] Servicio</h5>
                    <button type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
                </div>
                <hr class="w-100 my-0" />
                <div class='modal-body'>
                    
                    <div id="loading" class="alert alert-success">
                        <span class="tituloCargando">Espere por favor</span>
                        <div class="loader"></div>
                    </div>
    
                    <div id="mensajeError" class="alert alert-danger">
                        <div class="container">
                            <i class="fa fa-exclamation-triangle fa-1x"></i>
                            <b id="lblAccion">&nbsp;</b><span id="textoMensajeError"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="edCodigo" class="bmd-label">Código</label>
                            <div class="form-group ">
                                <input type="text" class="form-control" id="edCodigo" maxlength="50" placeholder="Ingresa un código">
                                <div class="invalid-feedback">Debe ingresar un código</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="edNombre" class="bmd-label">Servicio</label>
                            <div class="form-group ">
                                <input type="text" class="form-control" id="edNombre" maxlength="30" placeholder="Ingresa un nombre para Servicio">
                                <div class="invalid-feedback">Debe ingresar el nombre del Servicio</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="edClientes">Cliente</label>
                            <div class="form-group">
                                <select id="edClientes" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                    data-z-id-field="idCli" data-z-label-field="nombreCli" data-z-placeholder="[Seleccione Cliente]"
                                    data-z-placeholder-enable="true"></select>
                                <div class="invalid-feedback">Seleccione un Cliente</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="edContratos">Contrato</label>
                            <div class="form-group">
                                <select id="edContratos" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                    data-z-id-field="idCon" data-z-label-field="nombreCon" data-z-placeholder="[Seleccione Contrato]"
                                    data-z-placeholder-enable="true"></select>
                                <div class="invalid-feedback">Seleccione un Contrato</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label fore="edTabla" class="bmd-label">Tabla</label>
                            <div class="form-group ">
                                <input type="text" class="form-control" id="edTabla" maxlength="50" placeholder="Ingresa un nombre para la Tabla">
                                <div class="invalid-feedback">Debe ingresar un nombre</div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 my-2" />
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="togglebutton">
                                <label style="font-weight: 400 !important; color :#000000 !important;">
                                        <input id="edActivo" type="checkbox" checked="">
                                    <span class="toggle"></span>
                                    Activo
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button id="cmdOk" class='btn btn-success mr-2' type="button">Aceptar</button>
                    <button id="cmdCancel" class='btn btn-default' type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </div>