<div>
    <div id="mainLoader" data-z-autoload="common/Empty" ></div>
        <!--"[{&quot;code&quot;:&quot;login&quot;,&quot;url&quot;:&quot;login/login&quot;,&quot;initial&quot;:false},{&quot;code&quot;:&quot;menu&quot;,&quot;url&quot;:&quot;main/menu&quot;,&quot;initial&quot;:false},{&quot;code&quot;:&quot;empty&quot;,&quot;url&quot;:&quot;common/empty&quot;,&quot;initial&quot;:true},{&quot;code&quot;:&quot;public&quot;,&quot;url&quot;:&quot;main/public&quot;,&quot;initial&quot;:false}]">-->
</div>