<div class="container-fluid contenedor-portal">
    <div class="panel panel-default text-center">
        <div class="panel-body">
            <div class="row">
                <h3 id="edTitulo" class="tituloContainer" >Administración de Usuarios</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div id="edFiltro" data-z-component="common/SearchField"></div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button id="cmdAgregarUsuario" type="button" class="btn btn-sm btn-success mr-4 pt-2">
                            Agregar Usuario
                            <i class="fa fa-plus-square ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="z-responsive-tables">
        <table id="listaUsuarios" data-z-table="true" class="mt-2 table table-sm table-hover table-striped table-bordered img-raised" 
            data-z-edit="true" 
            data-z-edit-header-class="th-tabla-custom" 
            data-z-edit-cell-class="td-tabla-custom pt-1" 
            data-z-selectable-row-class="table-primary"
            data-z-page-details="detalle-lista" 
            data-z-pager="paginador-lista"
            style="font-size:80%;">
            <thead>
                <tr class="tr-header-custom">
                    <th data-z-col="login" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" >Login</th>
                    <th data-z-col="nombre" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" >Nombre</th>
                    <th data-z-col="email" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" >Email</th>
                    <th data-z-col="tipo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" >Tipo Usuario</th>
                    <th data-z-col="cliente" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" >Cliente</th>
                    <th data-z-col="contrato" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" >Contrato</th>
                    <th data-z-col="edActivo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom py-0" style="width: 40px;" >Activo</th>
                    <th data-z-col="edAdmin" class="th-tabla-custom" data-z-cell-class="td-tabla-custom py-0" style="width: 40px;" >Admin</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <hr>
    <div class="row justify-content-center">
        <small id="detalle-lista" class="form-text text-muted"></small>
    </div>
    <div class="row justify-content-center">
        <ul id="paginador-lista" class="pagination pagination-sm pagination-centered" data-z-pagination="local" data-z-n-rows="10" data-z-n-pages="20"></ul>
    </div>
</div>