<div class='modal fade' tabindex='-1' aria-hidden="true">
        <div class='modal-dialog modal-lg ' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 id="title" class='modal-title mt-0 mb-1'>[Acción] Usuario</h5>
                    <button type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
                </div>
                <hr class="w-100 my-0" />
                <div class='modal-body'>
                         
                    <div id="loading" class="alert alert-success">
                        <span class="tituloCargando">Espere por favor</span>
                        <div class="loader"></div>
                    </div>
                    <div id="mensajeError" class="alert alert-danger">
                        <div class="container">
                            <div class="alert-icon">
                            <i class="material-icons">error_outline</i>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                            <b id="lblAccion">&nbsp;</b><span id="textoMensajeError"></span>
                        </div>  
                    </div> 
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="edLogin" class="bmd-label">Login</label>
                            <div class="form-group">
                                <input type="email" class="form-control" id="edLogin" style="background-color: white;"
                                    required maxlength="50" placeholder="Ingresa Correo"/>
                                <div id="edCorreoInvalid" class="invalid-feedback">Debe ingresar su correo</div>
                                <small class="bmd-help">Se le enviarán instrucciones a este correo para crear contraseña.</small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="edNombre" class="bmd-label">Nombre</label>
                            <div class="form-group ">
                                <input type="text" class="form-control" id="edNombre" maxlength="50" placeholder="Ingresa un nombre">
                                <div class="invalid-feedback">Debe ingresar el Nombre</div>
                                <small class="bmd-help">Nombre Completo del Usuario</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="edTipousuario" class="bmd-label">Tipo de Usuario :</label>
                            <div class="form-group">
                                <select id="edTipousuario" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                    data-z-id-field="id" data-z-label-field="nombre" data-z-placeholder="[Seleccione Cliente]"
                                    data-z-placeholder-enable="true"></select>
                                <div class="invalid-feedback">Debe seleccionar un Cliente</div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 my-2" />
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="togglebutton">
                                <label style="font-weight: 400 !important; color :#000000 !important;">
                                    <input id="edAdmin" type="checkbox" checked="">
                                    <span class="toggle"></span>
                                    Administrador
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="togglebutton">
                                <label style="font-weight: 400 !important; color :#000000 !important;">
                                        <input id="edActivo" type="checkbox" checked="">
                                    <span class="toggle"></span>
                                    Activo
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="row"> 
                        <div class="col-sm-6" id="divClientes">
                            <label for="edClientes">Cliente</label>
                            <div class="form-group">
                                <select id="edClientes" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                    data-z-id-field="idCli" data-z-label-field="nombreCli" data-z-placeholder="[Seleccione Cliente]"
                                    data-z-placeholder-enable="true"></select>
                                <div class="invalid-feedback">Debe seleccionar un Cliente</div>
                            </div>
                        </div>
                        <div class="col-sm-6" id="divContratos">
                            <label for="edContratos">Contrato</label>
                            <div class="form-group">
                                <select id="edContratos" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                    data-z-id-field="idCon" data-z-label-field="nombreCon" data-z-placeholder="[Seleccione Contrato]"
                                    data-z-placeholder-enable="true"></select>
                                <div class="invalid-feedback">Debe seleccionar un Contrato</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divServicios"> 
                        <div class="col-sm-6" >
                            <label for="edServicios">Servicios</label>
                            <div class="form-group">
                                <select id="edServicios" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                    data-z-id-field="id" data-z-label-field="nombre" data-z-placeholder="[Seleccione Servicio]"
                                    data-z-placeholder-enable="true"></select>
                                <div class="invalid-feedback">Seleccione un servicio</div>
                            </div>
                        </div>
                    </div>

                    <hr class="w-100 my-2" />
                    <div class="z-responsive-tables">
                        <table id="listaReportes" data-z-table="true" class="table table-sm table-hover table-striped table-bordered img-raised"  
                            data-z-selectable-row-class="table-primary"
                            data-z-page-details="detalle-lista" 
                            data-z-pager="paginador-lista"
                            style="font-size:80%;">
                        <thead>
                            <tr class="tr-header-custom">
                                <th data-z-col="nombre" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true">Nombre Reporte</th>
                                <th data-z-col="imgActivo" class="th-tabla-custom" data-z-clickable="true" data-z-cell-class="td-tabla-custom py-0" style="width: 40px;">Activo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        </table>
                    </div>
                   
                </div>
                <div class='modal-footer'>
                    <button id="cmdGuardar" class='btn btn-success mr-2' type="button">Guardar</button>
                    <button id="cmdOk" class='btn btn-success mr-2' type="button">Aceptar</button>
                    <button id="cmdCancel" class='btn btn-default' type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </div>