<div class="container-fluid contenedor-portal">
    <div class="panel panel-default text-center">
        <div class="panel-body">
            <div class="row">
                <h3 id="edTitulo" class="tituloContainer" >Administración de Mapeo Datos</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div id="edFiltro" data-z-component="common/SearchField"></div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button id="cmdAgregarMapeoHeader" type="button" class="btn btn-sm btn-success mr-4 pt-2">
                            Agregar Mapeo
                            <i class="fa fa-plus-square ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <div class="z-responsive-tables">
                <table id="listaMapeoDatos" data-z-table="true" class="mt-2 table table-sm table-hover table-striped table-bordered img-raised" 
                    data-z-edit="true" 
                    data-z-edit-header-class="th-tabla-custom" 
                    data-z-edit-cell-class="td-tabla-custom pt-1" 
                    data-z-selectable-row-class="table-primary"
                    data-z-page-details="detalle-lista" 
                    data-z-pager="paginador-lista"
                    style="font-size:80%;">
                    <thead>
                        <tr class="tr-header-custom">
                            <th data-z-col="nombre" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"  data-z-clickable="true">NOMBRE SERVICIO</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <hr>
            <div class="row justify-content-center">
                <small id="detalle-lista" class="form-text text-muted"></small>
            </div>
            <div class="row justify-content-center">
                <ul id="paginador-lista" class="pagination pagination-sm pagination-centered" data-z-pagination="local" data-z-n-rows="10" data-z-n-pages="20"></ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" id="containerlistaHeader">
            <div class="z-responsive-tables">
                <table id="listaHeaders" data-z-table="true" class="mt-2 table table-sm table-hover table-striped table-bordered img-raised"  
                    data-z-selectable-row-class="table-primary"
                    data-z-page-details="detalle-lista2" 
                    data-z-pager="paginador-lista2"
                    style="font-size:80%;">
                <thead>
                    <tr class="tr-header-custom">
                        <th data-z-col="nombre" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true">Nombre Header</th>
                        <th data-z-col="descripcion" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="false">Descripcion</th>
                        <th data-z-col="imgActivo" class="th-tabla-custom" data-z-clickable="true" data-z-cell-class="td-tabla-custom py-0" style="width: 40px;">Activo</th>
                    </tr>
                </thead>
                <tbody></tbody>
                </table>
            </div>
            <hr>
            <div class="row justify-content-center">
                <small id="detalle-lista2" class="form-text text-muted"></small>
            </div>
            <div class="row justify-content-center">
                <ul id="paginador-lista2" class="pagination pagination-sm pagination-centered" data-z-pagination="local" data-z-n-rows="10" data-z-n-pages="20"></ul>
            </div>
        </div>
    </div>
   
</div>