<div class='modal fade' tabindex='-1' aria-hidden="true">
        <div class='modal-dialog modal-lg ' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 id="title" class='modal-title mt-0 mb-1'>[Acción] Servicio</h5>
                    <button type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
                </div>
                <hr class="w-100 my-0" />
                <div class='modal-body'>
                    
                    <div id="loading" class="alert alert-success">
                        <span class="tituloCargando">Espere por favor</span>
                        <div class="loader"></div>
                    </div>
    
                    <div id="mensajeError" class="alert alert-danger">
                        <div class="container">
                            <i class="fa fa-exclamation-triangle fa-1x"></i>
                            <b id="lblAccion">&nbsp;</b><span id="textoMensajeError"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="edMapeo">Mapeo</label>
                            <div class="form-group">
                                <select id="edMapeo" class="form-control dropdown-toggle" required data-style="btn btn-link"
                                    data-z-id-field="id" data-z-label-field="nombre" data-z-placeholder="[Seleccione Mapeo]"
                                    data-z-placeholder-enable="true"></select>
                                <div class="invalid-feedback">Seleccione un mapeo</div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 my-2" />
                    <div class="z-responsive-tables">
                        <table id="listaHeader" data-z-table="true" class="table table-sm table-hover table-striped table-bordered img-raised"  
                            data-z-selectable-row-class="table-primary"
                            data-z-page-details="detalle-lista" 
                            data-z-pager="paginador-lista"
                            style="font-size:80%;">
                        <thead>
                            <tr class="tr-header-custom">
                                <th data-z-col="nombre" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true">Nombre Header</th>
                                <th data-z-col="imgActivo" class="th-tabla-custom" data-z-clickable="true" data-z-cell-class="td-tabla-custom py-0" style="width: 40px;">Activo</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button id="cmdOk" class='btn btn-success mr-2' type="button">Aceptar</button>
                    <button id="cmdCancel" class='btn btn-default' type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </div>