.th-tabla-custom {
    font-size: 100%;
    font-weight: 700;
}
.td-tabla-custom {
    font-size: 100%;
}


.progress {
    height: 35px;
  
  }
  .progress .skill {
    font: normal 12px "Open Sans Web";
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
  }
  .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
  }
  
  .progress-bar {
    text-align: left;
    transition-duration: 3s;
  }

  .contenedor-portal {
    border: 1px rgba(0,32,128,1); 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,32,128,1);
  }

  .tituloContainer{
    padding-left:10px;
  }

  .navbar-portal {
    border: 3px rgba(0,32,128,1) !important;
    border-radius: 0px 10px 10px 0px !important;
  }
  
  .icon-user {
    background-color: #ffffff !important;
  }